* {
  font-family: "Muli", sans-serif;
}

.container {
  text-align: center;
  padding-top: 15px;
}

.row-login {
  width: 400px;
  display: inline-block !important;
  padding: 15px;
  margin: 15px !important;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 15px;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .row-login {
    width: 100%;
    margin: 0px !important;
  }
}

#title {
  padding-top: 20px;
  color: #007bff;
  padding-bottom: 20px;
}

.err-text {
  padding-top: 20px;
  color: rgb(255, 61, 61) !important;
}

.form-label {
  display: block;
  text-align: left;
}

.user-title {
  margin-right: -40px !important;
}

.user-btns {
  text-align: left;
  margin-left: 30px;
}

.logout-btn {
  border-radius: 30px !important;
}

.btn {
  margin: 5px;
  border-radius: 30px;
}
.btn:hover {
  color: #007bff !important;
  background-color: white !important;
}
